<!DOCTYPE html>
<html>
<head>
  <title>DOGS WHO PLAY</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css" />
</head>
<body>
  <nav class="navbar">
      <ul>
        <li id="main">
          <a href="/dogs">DOGS WHO PLAY</a>
        </li>
        <li class="nav-link">
          <a href="/events/new">CREATE AN EVENT</a>
        </li>
        <li class="nav-link">
          <a href="#">MY EVENTS</a>
        </li>
        <li class="nav-link" >
          <a href="#">FRIENDS</a>
        </li>
        <li class="nav-link">
          <a href="#">MY PROFILE</a>
        </li>
      </ul>
  </nav>
