<!DOCTYPE html>
<html>
<head>
  <title>DOGS WHO PLAY</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../stylesheets/style.css" />
</head>
<body>
  <nav class="top-navbar">
        <li id="main">
          <a href="/dogs">DOGS WHO PLAY</a>
        </li>
        <li class="nav-link">
          <a href="/events/new">CREATE AN EVENT</a>
        </li>
        <li class="nav-link">
          <a href="#">MY EVENTS</a>
        </li>
        <li class="nav-link" >
          <a href="#">FRIENDS</a>
        </li>
        <li class="nav-link">
          <a href="#">MY PROFILE</a>
        </li>
      </ul>
  </nav>
    <form action="/dogs" method="GET" class = 'se'>
        <!-- search -->
        <div class="input-field">
          <input id="search" type="search" name="name" placeholder="search name"  autocomplete="off">
        </div>
    </form>

<div class = side-nav> BREEDS
    <ul class = 'breeds'>
        <li>affenpinscher</li>
        <li>african</li>
        <li>airedale</li>
        <li>akita</li>
        <li>appenzeller</li>
        <li>australian shepherd</li>
        <li>basenji</li>
        <li>beagle</li>
        <li>bluetick</li>
        <li>borzoi</li>
        <li>bouvier</li>
        <li>boxer</li>
        <li>brabancon</li>
        <li>briard</li>
        <li>buhund</li>
        <li>norwegian</li>
        <li>french bulldog</li>
        <li>english bulldog</li>
        <li>bull terrier</li>
        <li>cattledog</li>
        <li>chihuahua</li>
        <li>chow</li>
        <li>cockapoo</li>
        <li>border collie</li>
        <li>corgi</li>
        <li>dachshund</li>
        <li>dalmatian</li>
        <li>doberman</li>
        <li>frise bichon</li>
        <li>german shepherd</li>
        <li>german pinscher</li>
        <li>great dane</li>
        <li>havanese</li>
        <li>hound</li>
        <li>husky</li>
        <li>italian greyhound</li>
        <li>labradoodle</li>
        <li>labrador</li>
        <li>malamute</li>
        <li>malinois</li>
        <li>maltese</li>
        <li>mastiff</li>
        <li>mountain</li>
        <li>newfoundland</li>
        <li>papillon</li>
        <li>pekinese</li>
        <li>pembroke</li>
        <li>pomeranian</li>
        <li>poodle</li>
        <li>pug</li>
        <li>pyrenees</li>
        <li>retriever</li>
        <li>rhodesian ridgeback</li>
        <li>rottweiler</li>
        <li>schnauzer</li>
        <li>sheepdog</li>
        <li>shiba</li>
        <li>shihtzu</li>
        <li>spaniel</li>
        <li>terrier</li>
        <li>vizsla</li>
        <li>waterdog</li>
        <li>whippet</li>
    </ul>
</div>

