<%- include('../partials/headertwo') %>



<form class = 'event' action ='/events' method='POST'>
    <h1 class = 'createevent'>CREATE AN EVENT</h1>
    <label>NAME OF EVENT
        <input type = 'text' name = 'eventName'>
    </label>
    <br>
    <label>LOCATION
        <input type = 'text' name = 'eventLocation'>
    </label>
    <br>
    <label>ADD DESCRIPTION
        <input type = 'text' name = 'addDescription'>
    </label>
    <br>
    <label>Date
        <input type="datetime-local" min = '2021-12-01T00:00'> 
    </label>
        <br>
    <input type="submit" value="CREATE EVENT" class = 'button'>
</form>


<%- include('../partials/footer') %>