<%- include('../partials/header') %>
  <nav class = 'google'>
      <form>
        <ul>
          <li class = 'nav-link'>
          <% if (user) { %>
            <a href="/logout">Log Out</a>
          <% } else { %>
            <a href="/auth/google">Login with Google</a>
          <% } %>
          </li>
        </ul>
      </form>
  </nav>


  
  <div class="container">
      <div id="dogs" class="col s12">
        <% dogs.forEach(function(dog) { %>
              <div class = 'profile'>
                <% if (user) { %>
                  <i class="small material-icons">perm_identity</i>
                  <span class="dog-name"><%= dog.name %></span>
                  <% } else { %>
                    <span class="dog-name"></span>
              </div>
        <% }}) %>
      </div>
  </div>
<%- include('../partials/footer') %>