<%- include('../partials/headerone') %>
  <nav class = 'google'>
      <form>
        <ul>
          <li class = 'nav-link'>
          <% if (user) { %>
            <a href="/logout">Log Out</a>
          <% } else { %>
            <a href="/auth/google">Login with Google</a>
          <% } %>
          </li>
        </ul>
      </form>
  </nav>

<%- include('../partials/footer') %>