<%- include('../partials/header') %>
<h1 class = 'myevents'>All Dogs</h1>
<form action ='/events' method='POST'></form>
<table class = 'eventtable' width ='800px'>
  <thead>
    <tr>
      <th name ='Event Name' width = '100px'>Event Name</th>
      <th name ='Event Location' width = '100px'>Event Location</th>
      <th name ='Date'width = '100px'>Date</th>
      <th name ='Host'width = '100px'>Host</th>
    </tr>
  </thead>
  <tbody>

  
  </tbody>
</table>
</form>

<%- include('../partials/footer') %>