<%- include('../partials/header') %>

<form class = 'event' action ='/events' method='POST'>
    <h1 class = 'createevent'>CREATE AN EVENT</h1>
    <label>NAME OF EVENT
        <input type = 'text' name = 'eventName' >
    </label>
    <br>
    <label>LOCATION
        <input type = 'text' name = 'eventLocation' placeholder="Dog Park, City">
    </label>
    <br>
    <label class = 'labeldescription'>ADD DESCRIPTION 
         <textarea type = 'text' name = 'addDescription' class = 'adddescription'></textarea>
    </label>
    <br>
    <label class = 'openTo'>OPEN TO
        <textarea type = 'text' name = 'openTo' class = 'adddescription' placeholder="All Dogs or Enter a Breed"></textarea>
   </label>
   <br>
    <label>Date
        <input type="datetime-local" min = '2021-12-01T00:00' name = 'dateOfEvent'> 
    </label>
        <br>
    <input type="submit" value="CREATE EVENT" class = 'button'>
</form>


<%- include('../partials/footer') %>