<%- include('../partials/header') %>

  <div class = 'rectangle'><img src = 'images/bull-terrier-playing.jpeg' class ='dogplaying'>
    <div class = 'summary'>
    <h1>Dog Meetups</h1>
      <p>Meet up with other dogs in your area. Find similar breeds in your city then set up play dates or events!</p>
  </div></div>

<%- include('../partials/footer') %>