<%- include('../partials/header') %>

  <div class = 'rectangle'>
    <img src = 'images/bull-terrier-playing.jpeg' class ='dogplaying'>
      <span>
        <div class = 'summary'>
    <h1 class = 'dogmeetup'>Dog Meetups</h1>
      <p>Meet up with other dogs in your area. Find similar breeds in your city then set up play dates or events!</p>
      </div>
  </span>
</div>

<%- include('../partials/footer') %>