<%- include('../partials/header') %>

<form class = 'profile' action ='/profiles' method='POST'>
    <h1 class = 'adddog'>ADD DOG</h1>
    <label>NAME OF DOG
        <input type = 'text' name = 'dogName'>
    </label>
    <br>
    <label>LOCATION
        <input type = 'text' name = 'location'>
    </label>
    <br>
    <label>AGE
        <input type = 'number' name = 'dogAge'>
    </label>
    <br>
    <label>BREED
        <input type= 'text' name = 'breed'>
    </label>
        <br>
    <input type="submit" value="CREATE DOG" class = 'button'>
</form>

<%- include('../partials/footer') %>