* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: black;
}
body {
  display: grid;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr;
}

nav{
  display: flex;
  padding: 0 20px 0 50px;
  grid-area: nav;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3; 
  grid-row-start: 1;
  grid-row-end: 2; 
  height: 50px;;
}

.container{
  grid-row-start: 2;
  grid-row-end: 3; 
}

a {
  color: black;
  display: inline;
}

li #main{
  margin: 0 500px 0 0;
}

li{
  list-style: none;
  display: inline;
  margin: 0 0 0 10px;
}

nav a{
  text-decoration: none;
}
