* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: black;
}
body {
  display: grid;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 75px 75px 1fr 1fr 1fr;
}

nav{
  display: flex;
  grid-area: nav;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 5; 
  grid-row-start: 1;
  grid-row-end: 2; 
  height: 50px;
  font-weight: bold;
  margin: 10px 0 0 10px;
}

.container{
  grid-row-start: 2;
  grid-row-end: 4; 
}

a{
  color: black;
  display: inline;
  text-decoration: none;
  font-weight: bold;
}

div.side-nav{
  grid-row-start: 3;
  grid-row-end: 4; 
}

ul.breeds{
  list-style: none;
  display: inline;
}

li#main{
  list-style: none;
  display: inline;
  margin: 0 400px 0 0;
}

li.nav-link{
  list-style: none;
  display: inline;
  margin: 0 0 0 20px;
}

nav a{
  text-decoration: none;
}

.profile{
  margin: 15px 0 0 45px;
}

.google{
  grid-row-start: 1;
  grid-column-start: 4;
  grid-column-end: 5; 
  text-decoration: none;
  justify-self: start;
  margin: 0 120px 0 0;
}

.event{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3; 
}

label{
  margin: 10px 0 10px 0;
}

